body{
  background-color:lightgray;
  color:black;
  text-align:center;
}
#Names-list{
  display:none;
}

h1{
  text-align:center;
}

ul{
  list-style-type:none;
  padding-left:0;
  padding-right:0;

}

label{
  font-size:120%;
}

li{
  padding-top:1rem;
}

#Output{
  padding-top:1rem;
  text-align:center;
  font-size:150%;
}

input{
  font-size:120%;
  display:inline-block;
}

input[type="number"]{
  width:3rem;
}

form{
}
